*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body{
background: var(--white-97, #F7F7F8);
  
 }
 .head{
    border-bottom: 1px solid var(--white-95, #2f2f99);
    padding: 10px;
      
    
    
 }
 a{
    text-decoration-line: none;
 
 }
 .countaier{
  
  width:calc(100% - 120px);
  margin: auto;

 }
 .row{
    display: flex;
    justify-content: space-between;
align-items: center;
gap: 30px;
     
  
 }

 .name{
    border-radius: 8px;
background: var(--orange-50, #FF9500);
order: 0; 
padding: 10px;
 }
 .navbar{
    flex-grow: 1;
     display: flex;
    font-size:14px;
    order: 0;
     
    
 }
 .navbaritem  a{
    padding: 10px;
     
    color: var(--grey-15, #262626);
 }
  

 .loginitem a{
 padding: 50px;
 font-size: 14px;
 color: var(--grey-15, #262626);
  
 }

 .login{
   order: 0;
     display: flex;
     gap: 10px;
     padding: 10px ;
     flex-wrap: wrap;
  }
 .login-item{
   display: flex;
   gap: 10px;
   padding: 10px ;
   flex-wrap: wrap;

 } 
 

 .loginitem .log{
    border-radius: 6px;
 color: var(--absolute-white, #050505);
padding: 10px;
 
 }

 header nav svg{
   display: none;
   
}

@media screen and (min-width:0) and (max-width:760px) {
   .navbaritem{
    display:none;
      
   }

}

@media screen and (min-width:0) and (max-width:760px) {
header nav svg{
   display:block;
    
    
}

}



@media screen and (min-width:0) and (max-width:433px) {
.login {
flex-wrap: nowrap;

}
}

@media screen and (min-width:0) and (max-width:760px) {
.navbar {
order: 1;

justify-content: end;
}
}

@media screen and (min-width:0) and (max-width:760px) {
.rowww{
flex-direction: column ;

}

}




@media screen and (min-width:0) and (max-width:760px) {
.svgnone{
 display: none;
}

}


@media screen and (min-width:0) and (max-width:1036px) {
.card {
width:calc((100% - 80px) / 2);
}

}


@media screen and (min-width:0) and (max-width:856px) {
.card {
width:calc((100% - 10px) / 1);

}

}



@media screen and (min-width:0) and (max-width:856px) {
.cours{
width:calc((100% - 10px) /1);

}

}

@media screen and (min-width:0) and (max-width:856px) {
.testmon{
width:calc((100% - 0px) /1);
 
}

}



@media screen and (min-width:0) and (max-width:856px) {
.contaner2{
width: 100%;
 
}

}

@media screen and (min-width:0) and (max-width:856px) {
.roww{
flex-wrap: wrap;
width:100%;

}

}

@media screen and (min-width:0) and (max-width:856px) {
.roww p{

width: 100%;

}

}



@media screen and (min-width:0) and (max-width:434px) {
.countaier {

width: 100%;
}

}
