
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.category {
 
 padding-top: 30px;
 
 
}

.father{
   display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.countaier{
  
  width:calc(100% - 120px);
 margin: auto;
 }

 header nav svg{
  display: none;
  
}

@media screen and (min-width:0) and (max-width:760px) {
  .navbar-item{
   display:none;
     
  }

}

@media screen and (min-width:0) and (max-width:760px) {
header nav svg{
  display:block;
   
  
}

}



@media screen and (min-width:0) and (max-width:433px) {
.login {
flex-wrap: nowrap;

}
}

@media screen and (min-width:0) and (max-width:760px) {
.navbar {
order: 1;

justify-content: end;
}
}

@media screen and (min-width:0) and (max-width:760px) {
.rowww{
flex-direction: column ;

}

}




@media screen and (min-width:0) and (max-width:760px) {
.svgnone{
display: none;
}

}


@media screen and (min-width:0) and (max-width:1036px) {
.card {
width:calc((100% - 80px) / 2);
}

}


@media screen and (min-width:0) and (max-width:856px) {
.card {
width:calc((100% - 10px) / 1);

}

}



@media screen and (min-width:0) and (max-width:856px) {
.cours{
width:calc((100% - 10px) /1);

}

}

@media screen and (min-width:0) and (max-width:856px) {
.testmon{
width:calc((100% - 0px) /1);

}

}



@media screen and (min-width:0) and (max-width:856px) {
.contaner2{
width: 100%;

}

}

@media screen and (min-width:0) and (max-width:856px) {
.roww{
flex-wrap: wrap;
width:100%;

}

}

@media screen and (min-width:0) and (max-width:856px) {
.roww p{

width: 100%;

}

}



@media screen and (min-width:0) and (max-width:434px) {
.countaier {

width: 100%;
}

}
