
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.category {
 
 padding-top: 30px;
 
 
}

.father{
   display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.countaier{
  
  width:calc(100% - 120px);
 margin: auto;

}